<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">



    
	<description>analytics</description>
	<display-name>analytics</display-name>
	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>webapp.netmdkb</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
<!-- <listener>
		<listener-class>com.nv.ynw.ws.WebSocketListener</listener-class>
	</listener>
 -->	
 <context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
		     classpath:META-INF/appDataSource.xml
		     classpath:META-INF/persistence-context.xml
             classpath:META-INF/analytics-context.xml
             classpath:META-INF/analytics-servlet.xml
          </param-value>
	</context-param>


	          
	<servlet>
		<servlet-name>analytics</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>META-INF/analytics-servlet.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
		<multipart-config>
			<location>/${catalina.home}/temp</location>
			<max-file-size>20848820</max-file-size>
			<max-request-size>418018841</max-request-size>
			<file-size-threshold>1048576</file-size-threshold>
		</multipart-config>

	</servlet>

	<servlet-mapping>
		<servlet-name>analytics</servlet-name>
		<url-pattern>/v1/*</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>

</web-app>